/* Colors
 * ==
 * white = #fffefa;
 * black = #0b3b4b;
 * pink = #fc5454;
 * turquoise = #4ecdc4;
 * yellow = #ffe86b;
 * green = #c9d41b;
 * orange = #ffbc29;
 */

*, html, body {
  margin: 0;
  padding: 0;
}

body {
  color: #0b3b4b;
  background: #fffefa;
  font-family: Montserrat;
}

header, div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a:link {
    text-decoration: none;
    color:#0b3b4b;
    outline: none;
}

a:visited {
    text-decoration: none;
    color:#0b3b4b;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.page {
  width: 100%;
  padding: 0 20%;
}

header {
  width: 100%;
  padding: 25px 20%;
  background: #0b3b4b;
  color: #fffefa;
}

.headings {
  float: left;
  margin-left: 25px;
  margin-top: 21px;
  font-size: 16px;
  letter-spacing: 5px;
}

.logo {
  width: 80px;
  float: left;
  -webkit-transform: rotate(-20deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: rotate(-20deg); /* IE 9 */
  transform: rotate(-20deg);
}

.description {
  margin-top: 25px;
  clear: both;
}

.stripe {
  height: 6px;
  background: linear-gradient(to right, #fc5454 0%, #fc5454 20%, #ffe86b 20%, #ffe86b 40%, #4ecdc4 40%, #4ecdc4 60%, #ffbc29 60%, #ffbc29 80%, #c9d41b 80%, #c9d41b 100%);
  margin: 25px 0 5px;
}

#container {
	margin-top: -25px;
}

.day {
  clear: both;
  margin-top: 50px;
}

.date {
  color: #0b3b4b;
  margin-bottom: 5px;
}

.times {
  font-size: 10px;
  color: #2e6273;
  clear: both;
  display: block;
  margin-bottom: 3px;
}

.mobile {
  display: none;
}

.infos {
  font-size: 14px;
  clear: both;
  display: block;
  margin-top: 4px;
}

.block {
  float: left;
}

.event {
  min-height: 75px;
  float: left;
	box-shadow: -2px 2px 0px #0b3b4b;
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
}

.talk.event {
  background: #4ecdc4;
  color: #fffefa;
}

.workshop.event {
  background: #fc5454;
  color: #fffefa;
}

.panel.event {
  background: #c9d41b;
  color: #fffefa;
}

.social.event {
  background: #ffbc29;
  color: #fffefa;
}

.empty {
  height: 100%;
  border-right: 1px solid #bbbbbb;
}

.left {
  float: left;
}

.right {
  float: right;
  text-align: right;
}

.offset-one-hour {
  margin-left: 130px;
}

.half-hour {
  width: 65px;
}

.one-hour {
  width: 130px;
}

.one-and-a-half-hour {
  width: 195px;
}

.two-hour {
  width: 260px;
}

footer {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 75px;
}

.clear {
  clear: both;
}

@media only screen and (max-width: 1100px) {
  .page {
    padding: 0 10%;
  }
}

@media only screen and (max-width: 900px) {
  .page {
    padding: 0 5%;
  }

  header {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 760px) {
  .half-hour {
    width: 45px;
  }
  
  .one-hour {
    width: 90px;
  }
  
  .one-and-a-half-hour {
    width: 135px;
  }
  
  .two-hour {
    width: 180px;
  }
}

@media only screen and (max-width: 530px) {
  header h1 {
    font-size: 1.75em;
  }

  .headings {
    margin-top: 24px;
  }

  .half-hour {
    width: 40px;
  }
  
  .one-hour {
    width: 80px;
  }
  
  .one-and-a-half-hour {
    width: 120px;
  }
  
  .two-hour {
    width: 160px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

	header {
		padding: 0 10%;
    overflow-x: hidden;
	}

	.page {
		padding: 0 5%;
	}

	.logo {
		float: none;
		width: 100%;
	}

	.headings {
		float: none;
		text-align: center;
		margin: 0 0 15px;
	}

	.stripe {
	  height: 4px;
	}

	.times { display: none; } 

  .location {
    display: none;
  }

  .mobile {
    display: block;
  }

  .infos {
    font-size: 16px;
    margin-top: 0;
  }

	.block {
		display: none;
	}
  
  .event {
    margin-bottom: 5px;
  }

	.half-hour { width: 100%; }
	.one-hour { width: 100%; }
	.one-and-a-half-hour { width: 100%; }
	.two-hour { width: 100%; }

  .fuck {
    width: 80%;
  }
}
