/* Colors
 * ==
 * white = #fffefa;
 * black = #0b3b4b;
 * pink = #fc5454;
 * turquoise = #4ecdc4;
 * yellow = #ffe86b;
 * green = #c9d41b;
 * orange = #ffbc29;
 */

*, html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #fffefa;
  font-family: Montserrat;
}

header, div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.page {
  width: 100%;
  padding: 0 20%;
}

header {
  width: 100%;
  padding: 25px 20%;
  background: #0b3b4b;
  color: #fffefa;
  text-align: center;
}

.headings {
  float: left;
  margin-left: 25px;
  margin-top: 23px;
  font-size: 16px;
  letter-spacing: 5px;
}

.logo {
  width: 80px;
  float: left;
  -webkit-transform: rotate(-20deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: rotate(-20deg); /* IE 9 */
  transform: rotate(-20deg);
}

.day {
  clear: both;
  margin-top: 50px;
}

.date {
  color: #0b3b4b;
  margin-bottom: 5px;
}

.times {
  font-size: 10px;
  color: #2e6273;
  clear: both;
  display: block;
  margin-bottom: 3px;
}

.infos {
  font-size: 14px;
  clear: both;
  display: block;
}

.block {
  float: left;
}

.event {
  min-height: 75px;
  float: left;
	box-shadow: -2px 2px 0px #0b3b4b;
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
}

.talk.event {
  background: #4ecdc4;
  color: #fffefa;
}

.workshop.event {
  background: #fc5454;
  color: #fffefa;
}

.lightning.event {
  background: #c9d41b;
  color: #fffefa;
}

.social.event {
  background: #ffbc29;
  color: #fffefa;
}

.empty {
  height: 100%;
  border-right: 1px solid #bbbbbb;
}

.left {
  float: left;
}

.right {
  float: right;
  text-align: right;
}

.half-hour {
  width: 65px;
}

.one-hour {
  width: 130px;
}

.one-and-a-half-hour {
  width: 195px;
}

.two-hour {
  width: 260px;
}

footer {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 75px;
}

.clear {
  clear: both;
}

@media only screen and (max-width: 480px) {
  body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

	header {
		padding: 0 10%;
    overflow-x: hidden;
	}

	.page {
		padding: 0 5%;
	}

	.logo {
		float: none;
		width: 100%;
	}

	.headings {
		float: none;
		text-align: center;
		margin: 0 0 25px;
	}

	.times { display: none; } 

	.block {
		display: none;
	}
  
  .event {
    margin-bottom: 5px;
  }

	.half-hour { width: 100%; }
	.one-hour { width: 100%; }
	.one-and-a-half-hour { width: 100%; }
	.two-hour { width: 100%; }
}
